<form action="/posts/create_tag">
    <!--<input type="text" name="tag1">-->
    <!--<input type="text" name="tag2">-->
    <!--<input type="text" name="tag3">-->
    <!--<input type="text" name="tag4">-->
    <!--<input type="text" name="tag5">-->
    
    <!--<input type="text" name="tag[]">-->
    <!--<input type="text" name="tag[]">-->
    <!--<input type="text" name="tag[]">-->
    <!--<input type="text" name="tag[]">-->
    <!--<input type="text" name="tag[]">-->
    
    <input type="text" name="tag[name1]">
    <input type="text" name="tag[name2]">
    <input type="text" name="tag[name3]">
    <input type="text" name="tag[name4]">
    <input type="text" name="tag[name5]">
    <input type="submit">
</form>